.down__icon{
    height: 24px;
    object-fit: contain;
}

.note__icon{
    height: 13px;
    object-fit: contain;
    padding-right: 10px;
}

.filter{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}